body{
  background-color: black;
  height:100%;
}

#logoBox{
  display: flex;
  height: 100%;
  align-items: center;
}

#logo{
  height: 1%;
  width: 50%;
  margin-left: 25%;
  margin-right: 25%;
}

#siteMenu{
  display: grid;
  position: fixed;
  grid-column: 10%;
  width: 8vw;
  color: red;
}

#contactButton:hover{
  color: white;
}

#showsButton:hover{
  color: white;
}

#contactButton:hover{
  color: white;
}

#socialMenu{
  display: grid;
  position: fixed;
  color: red;
  right: 0px;
}

.socialMediaLogo{
  width: 6vw;
}

#facebookLogo{
  padding-top: 2vw;
}

#pictureBox{
  display: Flex;
}

.picture{
 width: 50vw;
 margin-left: 25vw;
}

#contactBox{
  padding-top: 5vw;
  color: red;
  text-align: center;
}
